<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
    </extension>
   
    <extension
         point="org.eclipse.m2e.core.lifecycleMappings">
      <lifecycleMapping
            class="org.eclipse.m2e.wtp.jaxrs.internal.configurators.JaxRsLifecycleMapping"
            id="org.eclipse.m2e.wtp.jaxrs.JaxrsLifecycleMapping"
            name="%JAXRS_Lifecycle_Mapping">
      </lifecycleMapping>
    </extension>
    
	<extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator 
          id="org.eclipse.m2e.wtp.jaxrs.configurator"
          class="org.eclipse.m2e.wtp.jaxrs.internal.configurators.JaxRsProjectConfigurator"
          name="%JAXRS_Project_configurator" 
          secondaryTo="org.maven.ide.eclipse.configuration.wtp.configurator"/>
    </extension>
    
     <extension point="org.eclipse.core.resources.markers"
         id="org.eclipse.m2e.core.maven2Problem.wtp.jaxrs.configuration"
         name="%Maven_Configuration_Problem">
      <super type="org.eclipse.m2e.core.maven2Problem"/>
      <persistent value="true"/>
    </extension>

   <extension
         point="org.eclipse.m2e.wtp.javaeeConfiguratorEnabler">
         <javaeeConfiguratorEnabler
           id="org.eclipse.m2e.wtp.jaxrs.enabler"
           label="%jaxrs_enabler_label"
           description="%jaxrs_enabler_description"
           configuratorIds="org.eclipse.m2e.wtp.jaxrs.configurator"
         />
   </extension> 
   
   <extension
         point="org.eclipse.m2e.wtp.facetDetectors">
         <facetDetector
           facetId="jst.jaxrs"
           class="org.eclipse.m2e.wtp.jaxrs.internal.configurators.ClasspathJaxRsFacetDetector"
           priority="10"
         />
   </extension>
   
   <extension point="org.eclipse.ui.editors.templates">
    <template id="org.eclipse.m2e.wtp.jaxrs.xml.templates.jaxRsActivationProperty"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.properties"
         name="%template.jaxRsActivationProperty.name" 
         description="%template.jaxRsActivationProperty.description">
      <pattern>&lt;m2e.jaxrs.activation&gt;${cursor}${false}&lt;/m2e.jaxrs.activation&gt;</pattern>
    </template>
   </extension> 
</plugin>
